					<div class="span-14 prepend-1 append-1  last uiForm"  id="taxa">
						<div class="span-14 prepend-1 append-1  last">
							<table>
								<tr>
	        						<td for="taxaNameFinal">Create new Species: </td>
	        					</tr>
	        					<tr>
	        						<td>
	        							<g:textField name="taxaNameFinal" id="taxText"/>
	        						</td>
	        					</tr>
	        				</table>
	        			</div>
	        			<div>
	        				<div class="span-16 last" style="text-align:center" id="taxSelected">
	        					<button onclick='backToFamSelect()' class="prepend-1 span-2">Back</button>
	        					<div class="span-10">&nbsp</div>
	        					<button onclick="confirmAddition()" class="span-2 append-1 last">Finalize</button>
	        				</div>
	        			</div>
	        		</div>