

<%@ page import="edu.uga.aligndb.Taxa" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'species.label', default: 'Species')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>


    <body>
        <div class="body">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${taxaInstance}">
            <div class="errors">
                <g:renderErrors bean="${taxaInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form action="save" method="post" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="name"><g:message code="taxa.name.label" default="Name" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: taxaInstance, field: 'name', 'errors')}">
                                    <g:textField name="name" value="${taxaInstance?.name}" />
                                </td>
                            </tr>
                        	<tr class="prop">
                                <td valign="top" class="name">
                                    <label for="family"><g:message code="sequence.family.label" default="Family" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: taxaInstance, field: 'family', 'errors')}">
                                    <g:select name="family.id" from="${edu.uga.aligndb.Family.list()}" optionKey="id" value="${taxaInstance?.family?.id}"  />
                                </td>
                                <td>
                                	<h5>-OR-</h5>
                                </td>
                                <td>
                                	<a href="${createLink(action:'create',controller:'family') }">Create New Family</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
