div#seqList{
	border: 1px solid #CCCCDD;
}
div.seqHidden{
	display:none;	
}

.hidden{
	display:none;
}

div.wholeset{
	padding: 10px;
	border-bottom: 1px solid #CCCCDD;
}

.errorExp{
	color: #330000;
}

div.errorExp{
	background-color: #FFFFFF;
}

li.errorExp{
	color: #330000;
}


a{
	text-decoration:none;	
}

.ambiguous{
	background: #fdffde;	
}

.duplicate{
	background: #ffcc91;	
}

.both{
	background: #ffbfbf;
}
	