
        	.selectedTaxa 	{
        						background-color: gray;
        					}
        	.selectedGene 	{
        						background-color: gray;
        					}
        	#selTaxa 		{
        						width:100%;
        					}
        	#selGene 		{
        						width:100%;
        					}
        	.colorMapCell 	{ 	
        						width: 6px;
        					 	height: 6px;
        					 	padding: 0px;
        					 	margin: 0px;
        					 	border: none;
        					}
        	.red			{
        						width:760px;
        						overflow:auto;
        					}
        	.lightBlue 		{ 	
        						background-color: #CCCCFF;
        					}
        	.lightRed 		{ 	
        						background-color: #FF9999;
        					}
        	.black 			{ 	
        						background-color: #000000;
        					}
        	.highlighted 	{ 	
        						background-color: #B4EEB4;
        						border: 1px solid red;
        					}
        	.colorMapCell	{
        						border: 1px solid #999999
        					}
        	.tooltip 		{
								display:none;
								background:transparent url(/tools/img/tooltip/black_arrow.png);
								font-size:12px;
								height:70px;
								width:160px;
								padding:25px;
								color:#fff;	
							}
			.hidden 		{ 
								display: none;
							}
        	.link 			{	
        						cursor:pointer;
        					}
         div#res			{
         						overflow:auto;
         					}
        					