.span-24{
	border: dotted 1px #CCCCCC;	
}

.span-23{
	border: dotted 1px #CCCCCC;	
}

.span-22{
	border: dotted 1px #CCCCCC;	
}

.span-21{
	border: dotted 1px #CCCCCC;	
}

.span-20{
	border: dotted 1px #CCCCCC;	
}

.span-19{
	border: dotted 1px #CCCCCC;	
}

.span-18{
	border: dotted 1px #CCCCCC;	
}

.span-17{
	border: dotted 1px #CCCCCC;	
}

.span-16{
	border: dotted 1px #CCCCCC;	
}

.span-15{
	border: dotted 1px #CCCCCC;	
}


.span-14{
	border: dotted 1px #CCCCCC;	
}


.span-13{
	border: dotted 1px #CCCCCC;	
}

.span-12{
	border: dotted 1px #CCCCCC;	
}

.span-11{
	border: dotted 1px #CCCCCC;	
}
.span-10{
	border: dotted 1px #CCCCCC;	
}

.span-9{
	border: dotted 1px #CCCCCC;	
}


.span-8{
	border: dotted 1px #CCCCCC;	
}


.span-7{
	border: dotted 1px #CCCCCC;	
}


.span-6{
	border: dotted 1px #CCCCCC;	
}


.span-5{
	border: dotted 1px #CCCCCC;	
}


.span-4{
	border: dotted 1px #CCCCCC;	
}


.span-3{
	border: dotted 1px #CCCCCC;	
}


.span-2{
	border: dotted 1px #CCCCCC;	
}


.span-1{
	border: dotted 1px #CCCCCC;	
}




