					<div class="span-14 prepend-1 append-1  last"  id="higherTaxons">
	        		
	        			<div class="span-14 prepend-1 append-1  last">
	        			<table>
	        				<tr>
	        				<td for="mcName">Select Higher Taxon</td>
	        				<td for="mcNameFinal">or create new Higher Taxon.</td>
	        				</tr>
	        				<tr>
	        				<td>
	        				<select id="mCSelect"  name="ordName" onclick="empty_Text('mcText')">
	        						<option value="null">
	        							Nothing Selected
	        						</option>
	        					<g:each var="mClass" in="${mcList}">
	        						<option value="${mClass.id}">
	        							${mClass.name}
	        						</option>
	        					</g:each>
	        				</select>
	        				</td>
	        				<td>
	        				<g:textField name="mcNameFinal" id="mcText" onclick="deselect('mCSelect')"/>
	        				</td>
	        				</tr>
	        			</table>
	        			</div>
	        			
	        			<div class="span-16 last" style="text-align:center;"" id="mcSelected">
	        				<div class="prepend-1 span-2">&nbsp</div>
	        				<div class="span-10">&nbsp</div>
	        				<button onclick="getTaxaOrderList()"class="span-2 append-1 last">Next</button>
	        			</div>
	        			
	        		</div>