						<div class="span-14 prepend-1 append-1  last"  id="Orders">
						
						<div class="span-14 prepend-1 append-1  last">
							<table>
							<tr>
								<g:if test="${!createNew}">
									<td>Select Order</td>
								</g:if>
								<td>
									<g:if test="${!createNew}">Or</g:if> create new Order
								</td>
							</tr>
	        				<tr>
	        					
	        					<g:if test="${!createNew}">
	        						<td>
	        							<select id="tOSelect"  name="tOrdName" onclick="empty_Text('tOText')">
	        								<option value="null">
	        								Nothing Selected
	        								</option>
	        								<g:each var="tOrder" in="${tOList}">
	        									<option value="${tOrder.id}">
	        										${tOrder.name}
	        									</option>
	        								</g:each>
	        							</select>
	        						</td>
	        					</g:if>
	        					
	 							<td>
	        						<g:textField name="tONameFinal" id="tOText" onclick="deselect('tOSelect')"/>
	        					</td>
	        				</tr>
	        			</table>
	        			</div>
	        			<div class="span-16 last" style="text-align:center" id="tOSelected">
	        				<button onclick='backToMCSelect()' class="prepend-1 span-2">Back</button>
	        				
	        				<div class="span-10">&nbsp</div>
	        				
	        				<button onclick="getFamilyList()" class="span-2 append-1 last">Next</button>
	        				
	        			</div>
	        			
	        			</div>