
<%@ page import="edu.uga.aligndb.TaxaOrder" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'taxaOrder.label', default: 'Order')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="body">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="dialog">
                <table>
                    <tbody>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="taxaOrder.id.label" default="Id" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: taxaOrderInstance, field: "id")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="taxaOrder.name.label" default="Name" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: taxaOrderInstance, field: "name")}</td>
                            
                        </tr>
                    	<tr class="prop">
                            <td valign="top" class="name"><g:message code="taxaOrder.mc.label" default="Higher Taxon" /></td>
                            
                            <td valign="top" class="value"><g:link controller="majorClassification" action="show" id="${taxaOrderInstance?.mc?.id}">${taxaOrderInstance?.mc?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="taxaOrder.families.label" default="Families" /></td>
                            
                            <td valign="top" style="text-align: left;" class="value">
                                <ul>
                                <g:each in="${taxaOrderInstance.families}" var="f">
                                    <li><g:link controller="family" action="show" id="${f.id}">${f?.encodeAsHTML()}</g:link></li>
                                </g:each>
                                </ul>
                            </td>
                            
                        </tr>
                    
                        
                    
                    </tbody>
                </table>
            </div>
            <sec:ifAnyGranted roles="ROLE_SUPERADMIN">
            <div class="buttons">
                <g:form>
                    <g:hiddenField name="id" value="${taxaOrderInstance?.id}" />
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'default.button.edit.label', default: 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </g:form>
            </div>
            </sec:ifAnyGranted>
        </div>
    </body>
</html>
